# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Data
backend/data/
*.db

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
*.env.local

# OS
.DS_Store
Thumbs.db
